* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header {
    background-color: white;
    display: flex;
    position: relative;
    width: 100%;
    height: 25vh;

}
.header .left img {
    width: 60%;
    height: 35%;
    font-size: 32px;
    margin: 45px 110px;
    transition: transform 1s;

}
.header .left img:hover {
    filter: drop-shadow(22px, 5px, 12px blue);

}
.header .right i {
    position: absolute;
    top: 30px;
    left: 1100px;
    width: 50%;
    height: 30%;
    font-size: 32px;
    margin: 40px 90px;
    cursor: pointer;
}
.header .right i:hover {
    color: yellow;
}
.main {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("sekiller/1.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.main .yazi h1 {
    color: white;
    position: absolute;
    top: 270px;
    left: 300px;
    font-size: 50px;
    word-spacing: 10px;
    text-align: center;
}
.orta {
    width: 100%;
    height: 50vh;
}
.orta .left2 {
    font-size: 30px;
    position: absolute;
    margin-top: 50px;
    margin-left: 70px;
}
.orta .right2 {
    font-size: 20px;
    position: absolute;
    margin-top: 50px;
    margin-left: 700px;
    margin-right:
     180px;
}
.wrapper{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    margin: 30px;

}
.card{
    width: 280px;
    height: 360px;
    padding: 6rem 23rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
cursor: pointer;

}
.card:hover{
    transform: translateY(20px);
}
.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card .info h1{
    margin: 0;

}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.card2{
    width: 20px;
    height: 360px;
    padding: 6rem 11rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
cursor: pointer;


}
.card2:hover{
    transform: translateY(20px);
}
.card2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card2:hover:before{
    opacity: 1;
}
.card2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.card2 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card2:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card2 .info h1{
    margin: 0;

}
.card2 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.wrapper2{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    margin: 30px;
}
.card3{
    width: 280px;
    height: 360px;
    padding: 6rem 13rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
cursor: pointer;


}
.card3:hover{
    transform: translateY(20px);
}
.card3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card3:hover:before{
    opacity: 1;
}
.card3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.card3 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card3:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card3 .info h1{
    margin: 0;

}
.card3 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.card4{
    width: 280px;
    height: 360px;
    padding: 6rem 7rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
cursor: pointer;


}
.card4:hover{
    transform: translateY(20px);
}
.card4::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card4:hover:before{
    opacity: 1;
}
.card4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}
.card4 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card4:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card4 .info h1{
    margin: 0;

}
.card4 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.card5{
    width: 280px;
    height: 360px;
    padding: 6rem 11rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
cursor: pointer;


}
.card5:hover{
    transform: translateY(20px);
}
.card5::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.card5:hover:before{
    opacity: 1;
}
.card5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.card5 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card5:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card5 .info h1{
    margin: 0;

}
.card5 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.see h3{
    width: 35%;
    font-size: 40px;
    margin-left: 80px;
    margin-bottom: 50px;
    cursor: pointer;
    color: black;
}
.see h3:hover{
    color: #84af75;
}
.black{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}
.black .left h3{
    position: absolute;
    color: #fff;
    font-size: 35px;
    padding-top: 6%;
    padding-left: 5%;
}
.black .right p{
    font-size: 20px;
    position: absolute;
    padding-left: 50%;
    padding-top: 6%;
    padding-right: 10%;
    display: flex;
    color: #fff
}
hr{
    color: white;
    padding-top: 17%;
}
.black .two .left2 h3{
color: #fff;
position: absolute;
font-size: 35px;
    padding-top: 6%;
    padding-left: 5%;
}
.black .two .right2 p{
    font-size: 20px;
    position: absolute;
    padding-left: 50%;
    padding-top: 6%;
    padding-right: 10%;
    display: flex;
    color: #fff
}
.black .three .left3 h3{
    color: #fff;
position: absolute;
font-size: 35px;
    padding-top: 5%;
    padding-left: 5%;
}
.black .three .right3 p{
    font-size: 20px;
    position: absolute;
    padding-left: 50%;
    padding-top: 5%;
    padding-right: 10%;
    display: flex;
    color: #fff
}
.partner{
    width: 100%;
    height: 100vh;
    position: relative;
}
.partner .left h3{
    color: rgb(68, 47, 47);
    position: absolute;
font-size: 30px;
padding-top: 50px;
padding-left: 70px;
}
.partner .right p{
    color: rgb(61, 44, 44);
    position: absolute;
font-size: 20px;
padding-left: 50%;
padding-top: 5%;
padding-right: 8%;
}
.Clients{
    display: flex;
    width: 50%;
    height: 35%;
    justify-content: space-between;
    margin: 30px;
}
.Clients .card{
    width: 380px;
    height: 200px;
    padding: 3rem 5rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
margin-top: 25%;
cursor: pointer;

}
.Clients .card:hover{
    transform: translateY(20px);
}
.Clients .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.Clients .card:hover:before{
    opacity: 1;
}
.Clients .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.Clients .card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.Clients .card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.Clients .card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    color: yellow;
}
.Clients .card2{
    width: 280px;
    height: 200px;
    padding: 3rem 4rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
margin-top: 25%;
cursor: pointer;

}
.Clients .card2:hover{
    transform: translateY(20px);
}
.Clients .card2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.Clients .card2:hover:before{
    opacity: 1;
}
.Clients .card2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.Clients .card2 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.Clients .card2:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.Clients .card2 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    color: yellow;
}
.Clients .card3{
    width: 280px;
    height: 200px;
    padding: 3rem 4rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
margin-top: 25%;
cursor: pointer;

}
.Clients .card3:hover{
    transform: translateY(20px);
}
.Clients .card3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.Clients .card3:hover:before{
    opacity: 1;
}
.Clients .card3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.Clients .card3 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.Clients .card3:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.Clients .card3 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    color: yellow;
}
.Clients .card4{
    width: 380px;
    height: 200px;
    padding: 3rem 4rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
margin-top: 25%;
cursor: pointer;

}
.Clients .card4:hover{
    transform: translateY(20px);
}
.Clients .card4::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.Clients .card4:hover:before{
    opacity: 1;
}
.Clients .card4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.Clients .card4 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.Clients .card4:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.Clients .card4 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    color: yellow;
}
.fall{
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: space-between;
    margin: 30px;
}
.fall .card5{
    width: 380px;
    height: 200px;
    padding: 3rem 5rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
margin-top: 25%;
cursor: pointer;

}
.fall .card5:hover{
    transform: translateY(20px);
}
.fall .card5::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.fall .card5:hover:before{
    opacity: 1;
}
.fall .card5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.fall .card5 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.fall .card5:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.fall .card5 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    color: yellow;
}
.fall .card6{
    width: 380px;
    height: 200px;
    padding: 3rem 5rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
margin-top: 25%;
cursor: pointer;

}
.fall .card6:hover{
    transform: translateY(20px);
}
.fall .card6::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.fall .card6:hover:before{
    opacity: 1;
}
.fall .card6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.fall .card6 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.fall .card6:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.fall .card6 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    color: yellow;
}
.fall .card7{
    width: 380px;
    height: 200px;
    padding: 3rem 5rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
margin-top: 25%;
cursor: pointer;

}
.fall .card7:hover{
    transform: translateY(20px);
}
.fall .card7::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.fall .card7:hover:before{
    opacity: 1;
}
.fall .card7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.fall .card7 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.fall .card7:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.fall .card7 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    color: yellow;
}
.fall .card8{
    width: 380px;
    height: 200px;
    padding: 3rem 5rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
margin-left: 50px;
margin-top: 25%;
cursor: pointer;

}
.fall .card8:hover{
    transform: translateY(20px);
}
.fall .card8::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5),rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.fall .card8:hover:before{
    opacity: 1;
}
.fall .card8 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    
}
.fall .card8 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.fall .card8:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.fall .card8 .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    color: yellow;
}



